.components{

    padding-top: 35px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons{
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    color:palevioletred;
    font-family: 'Courier New', Courier, monospace;
}

.button{
    margin: 5px;
    cursor: pointer;
}
.text{
    font-size: 50px;
    color: palevioletred;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: max-content;
    max-height: max-content;
    color:palevioletred;
    font-family: 'Courier New', Courier, monospace;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify; 
}
